.mobile-body {
  width: 400px;
  height: 700px;
  margin: 40px auto;
  border-radius: 30px;
  background-color: #000000;
  position: relative;
  &__block {
    margin: 10px 20px;
  }

  &__group {
    display: flex;
    padding: 10px 10px 0px 0;
  }

  &__avatar {
    background-image: url("../../photos/WhatsApp.svg.png");
    background-position: center;
    background-size: 65%;
    background-repeat: no-repeat;
    width: 45px;
    height: 45px;
    border-radius: 50px;
    background-color: rgb(105, 195, 95);
  }

  &__title {
    margin-left: 10px;
    padding-bottom: 10px;
    width: 85%;
    border-bottom: 1px solid #323232;
  }

  &__text {
    color: #ffffff;
    font-weight: 500;
    &--mod {
      font-size: 14px;
      padding-top: 5px;
      color: lightgray;
      font-weight: 400;
    }
  }
}
