.header {
  background-image: url("../../photos/IMG_DD9F8A31C379-1.jpeg");
  width: 100%;
  height: 199px;
  background-position: center center;
  background-size: cover;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}
